.fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}
.fadeIn {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}
.infobox-danger {
    display: block;
    position: absolute;
    left: 0;
    margin-top: -60px;
    margin-left: 15px;
    padding: 13px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,.05), 0 0 8px rgba(255, 42, 20, .8);
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05), 0 0 8px rgba(255, 42, 20, .8);
    z-index: 10;
    p {
        margin: 0;
    }
}
.infobox-danger::after {
    content: '';
    position: absolute;
    left: 5%;
    margin-left: 15px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent transparent #ff0000;
    /*opacity: 1;*/
}