/*@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');*/
/*@import url("font-awesome.css");
@import url("select2-web-vauu.css");
@import url("../../../select2/assets/css/select2.css");*/


body, html {
    background-color: #ebe7e2 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    color: #000;
    height: 100%;
    scroll-behavior: smooth;
    /*overflow: auto;*/
}
.page-container {
    margin: 0;
    padding: 0;
}
.page-content {
    margin: 0;
    padding: 20px 20px 20px 20px;
    /*min-height: 280px;*/
    border-radius: 0;
}
.content-body {
    background-color: #fff;
    border-radius: 4px;
}
.panel-body {
    background-color : #fff;
    border-radius : 4px;
}
.form-body {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-top {
    margin: 0;
    padding: 20px 15px 0 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
.control-label .required {
    color: #e02222;
    font-size: 14px;
    padding-left: 2px;
}
.form-control-static {
    font-size: 14px;
    padding-top: 0;
    margin-bottom: -20px;
}

/* Forced removal or addition of a specified style */
.form-control-remove {
    margin-bottom: -50px;
}
.form-control-mini-remove {
    margin-bottom: -40px;
}
.form-control-add {
    margin-bottom: -5px;
}
.calendar-control-remove {
    margin-bottom: -35px;
}
.panel-heading {
    margin: 0;
    padding: 15px 15px 15px 15px;
    border-bottom-color: #dedede;
}
.table-heading {
    margin: 0;
    margin-bottom: 15px;
    padding: 0 15px 15px 15px;
    border-bottom: 1px solid #dedede;
}
.table-top-heading {
    margin: 0;
    padding: 0 15px 15px 15px;
}
.buttons-heading {
    margin: 0 0 15px 0;
    padding: 0 15px 20px 15px;
    border-bottom: 1px solid #dedede;
}
.table-bottom-heading {
    margin-top: 20px;
    padding: 20px 15px 15px 15px;
    border-top: 1px solid #dedede;
}
.table-body {
    margin: 0;
    padding: 15px 0 0 0;
    /*border: 1px solid #ff0000;*/
}
.table-body-alert {
    margin: 0;
    padding: 15px 0 0 0;
}
.buttons-body {
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
}
.panel-title {
    padding: 0;
    font-size: 26px;
    display: block;
    color: #f35b1c;
    margin: 0 0 15px 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.form-control.search-box {
    margin-top: 7px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000; /*#555;*/
    background-color: #fff;
    background-image: none;
    border: #bcd8db solid 1px;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border-color: #31a3ae;
    outline: 0;
    /*-webkit-box-shadow: none;
    box-shadow: none;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.has-success .form-control {
    border-color: #bcd8db;
    box-shadow: none;
}
.has-success .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
*:focus {
    outline: none !important;
}
.btn-default {
    color: #333;
    background-color: #f3f3f3;
    border-color: #ccc;
}
.btn-default:focus, .btn-default:hover {
    outline: none;
}
.btn-orange {
    color: #fff;
    background-color: #f36118;
    border-color: #f36018;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange.active {
    color: #fff;
    background-color: #e44c14;
    border-color: #e44c14;
}
i {
    padding: 3px 0;
}
.btn-darkblue {
    color: #fff;
    background-color: #1195bb;
    border-color: #1187ae;
}
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue.active {
    color: #fff;
    background-color: #0885a4;
    border-color: #24709f;
}
.btn-danger {
    color: #fff;
    background-color: #da2004;
    border-color: #d11c04;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.active {
    color: #fff;
    background-color: #c72923;
    border-color: #9e2723;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus, .btn-success:hover, .btn-success:active {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-warning {
    color: #fff;
    background-color: #ffb00c;
    border-color: #ffc107;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-warning.disabled/*, .btn-warning[disabled]*/ {
    color: #d2d2d2;
    background-color: #f0ad4e;
    border-color: #eea236;
    cursor: not-allowed;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.target-group-wrapper {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 20%;
}
.btn-md {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-md {
    padding: 3px 5px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning {
     color: #856404;
     background-color: #fff3cd;
     border-color: #ffeeba;
 }
.alert-warning-info {
    color: #000000;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
/*input:invalid, input:required  { !* input:required *!
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 8px rgba(255, 42, 20, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 8px rgba(255, 42, 20, .4);
}*/
.has-error {
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 8px rgba(255, 42, 20, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 8px rgba(255, 42, 20, .4);
}
.btn-white {
    color: #333;
    background-color: #ffffff;
    border-color: #d4d4d4;
    padding: 1px 6px;
    border-radius: 4px;
}
.btn-white:hover, .btn-white:focus {
    color: #333;
    background-color: #f3f3f3;
    border-color: #adadad;
    outline: none;
}
.label.label-sm {
    display: inline-block;
    padding: .3em .6em .3em;
    font-size: 14px !important;
    font-weight: 500;
}
.label.label-sm {
    margin-top: 1px;
    margin-bottom: 1px;
}
.label-danger,
.badge-danger {
    background-color: #da2004;
    background-image: none !important;
}
.red {
    color: #da2004;
}
.form-actions {
    padding: 20px 10px;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: -5px;
    background-color: #f5f5f5;
    /*border: 1px solid #e5e5e5;*/
    border-radius: 4px;
    *zoom: 1;
}
.form-actions.fluid {
    /*padding: 20px 0;*/
}
.form-actions:before,
.form-actions:after {
    display: table;
    line-height: 0;
    content: "";
}
.form-actions:after {
    clear: both;
}
.view-link {
    color: #0885a4; /*#2593a1;*/
}
a.view-link {
    color: #0885a4; /*#2593a1;*/
}
a {
    text-shadow: none !important;
    /*font-weight: 500;*/
    color: #0885a4; /*#2593a1; /* #257886 #005f71 #256f7d  #257886 */
    text-decoration: none;
    outline: none !important;
}
a:focus, a:hover, a:active {
    color: #0885a4;  /*#2593a1;*/
    text-decoration: underline !important;
    outline: none !important;
}
.vauu-title-3 {
    padding: 0;
    font-size: 18px;
    letter-spacing: -1px;
    display: inline-block;
    color: #000;
    margin: 0;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif;
}
.vauu-title-2 {
    padding: 0;
    font-size: 18px;
    letter-spacing: -1px;
    display: inline-block;
    color: #008c9e;
    margin: 0 0 15px 0;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif;
}
.margin-left-0 {
     margin-left: 0 !important;
 }
.buttons-box-15 {
    padding-left: 15px;
}
.buttons-box-25 {
    padding-left: 25px;
}
.buttons-box-50 {
    padding-left: 50px;
}
.add-wrapper {
    display: block;
    margin-top: -15px;
    padding: 0 0 15px;
    border-bottom: #ddd 1px solid;
}
.left-box {
    padding-right: 30px;
    background: #ffffff;
}
.right-box {
    padding: 0 25px;
    background-color: #f5f5f5;
}
.right-box-disabled {
    pointer-events: none;
    opacity: 0.5;
}
.padded-wrapper {
    margin-left: -5px;
    padding-top: 15px;
}
.padded-form-actions {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right-box .form-group {
    padding: 0 15px;
}
.right-box div.radio.radio-orange {
    padding-top: 15px;
}

/* //////////////////////////////////// */
/* CUSTOM 2 veeru STYLES */
/* //////////////////////////////////// */

/* Teine võimalus - https://www.w3schools.com/howto/howto_css_equal_height.asp*/
/*  https://css-tricks.com/complete-guide-table-element/ */

/* https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height */
/* https://codepen.io/ShuvoHabib/pen/pyXQNv */

/*.equal {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.equal > div[class*='col-'] {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*@media screen and (min-width: 768px) {*/
/*    .equal2, .equal2 > div[class*='col-'] {*/
/*        display: -webkit-box;*/
/*        display: -moz-box;*/
/*        display: -ms-flexbox;*/
/*        display: -webkit-flex;*/
/*        display: flex;*/
/*        flex:1 0 auto;*/
/*    }*/
/*}*/

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}
input.calendar-trigger {
    background-image: url('../images/font-awesome/brown/svg/calendar.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right;
    background-position-x: 95%;
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input.clock-trigger {
    background-image: url('../images/font-awesome/brown/svg/clock-o.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right;
    background-position-x: 95%;
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* //////////////////////////////////// */
/* CUSTOM TABS STYLES */
/* //////////////////////////////////// */

.tabbable-custom {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.tabbable-custom > .nav-tabs {
    border: none;
    margin: 0;
}
.tabbable-custom > .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
}
/* BS3.0.3 removed tabbable class so its added back */
.tabbable:before,
.tabbable:after {
    display: table;
    content: " ";
}
.tabbable:after {
    clear: both;
}
.tabbable:before,
.tabbable:after {
    display: table;
    content: " ";
}
.tabbable:after {
    clear: both;
}
.tabbable-custom  .nav-tabs {
    font-size: 16px;
    /*font-weight: 400;*/
}
.tabbable-custom  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.tabbable-custom .nav-tabs > li > a {
    margin-right: 0 !important;
    line-height: 1.42857143;
    background-color: #f5eeeb;
    color: #512b2b !important;
    border: 1px solid #efe3df;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none !important;
    outline: none;
}
.tabbable-custom .nav-tabs > li > a:hover {
    background-color: #feecbe;
}
.tabbable-custom > .nav-tabs > li.active > a,
.tabbable-custom > .nav-tabs > li.active > a:hover,
.tabbable-custom > .nav-tabs > li.active > a:focus {
    color: #512b2b;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.tabbable-custom > .tab-content > .tab-pane {
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tabbable.tabbable-custom .radio-list > label.radio-inline:first-child {
    padding-left: 20px;
}
.tab-content-body {
    padding: 15px 5px;
}
.fa-lg {
    font-size: 1em;
    line-height: 0.5em;
    vertical-align: -15%;
}

/* //////////////////////////////////// */
/* NESTEDSORTABLE STYLES */
/* //////////////////////////////////// */

p, ol, ul {
    margin-top: 0;
    margin-bottom: 1em;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.parent {
    color: #ff0000;
    font-weight: bold;
    padding-left: 5px;
}
li.disabled {
    pointer-events: none;
    opacity: 0.5;
}
li.disabled button {
    pointer-events: auto;
}
.placeholder {
    outline: 1px dashed #4183C4;
    background: rgba(73, 182, 255, 0.07);
    border-radius: 3px;
    margin: -1px;
}
.mjs-nestedSortable-disabled {
    pointer-events: none;
    opacity: 0.5;
}
.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}
.hidden {
    display: none;
}
ul.sortable {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.sortable ul {
    margin: 0 0 0 39px;
    padding: 0;
    list-style-type: none;
}
.sortable li {
    box-sizing: border-box; /* DOES IT FIT? */
    margin: 5px 0 0 0;
    padding: 0;
}
.sortable li div.menu-row-highlight {
    color: #156087;
    height: 38px;
    line-height: 36px;
    border: #59c3dd solid 1px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    background: rgba(73, 182, 255, 0.1);
}
.sortable li div.menu-row {
    height: 38px;
    line-height: 36px;
    border: #ddd solid 1px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}
.sortable li div.menu-row-highlight > .disclose {
    display: inline-block;
    color: #156087;
    font-size: 10px;
    width: 38px;
    text-align: center;
    vertical-align: middle;
    margin-left: -3px;
    padding: 0;
    border-right: #c2dbe3ff solid 1px;
    cursor: pointer;
}
.disclose {
    display: inline-block;
    color: #7d898d;
    font-size: 10px;
    width: 38px;
    text-align: center;
    vertical-align: middle;
    margin-left: -3px;
    padding: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.sortable li div.menu-row-highlight > .menu-body > .separator {
    display: inline-block;
    height: 37px;
    text-align: center;
    vertical-align: middle;
    margin-left: -11px;
    margin-right: 11px;
    margin-top: -2px;
    padding: 0 10px;
    border-right: #c2dbe3ff solid 1px;
}
.sortable li div.menu-row > .menu-body > .separator {
    display: inline-block;
    height: 37px;
    text-align: center;
    vertical-align: middle;
    margin-left: -11px;
    margin-right: 11px;
    margin-top: -2px;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}
.sortable li.mjs-nestedSortable-collapsed > ul {
    display: none;
}
.sortable li.mjs-nestedSortable-expanded > ul {
    display: block;
}
.sortable li.mjs-nestedSortable-leaf > div.menu-row > .disclose,
.sortable li.mjs-nestedSortable-leaf > div.menu-row-highlight > .disclose {
    display: none;
}
.sortable li.mjs-nestedSortable-collapsed > div.menu-row > .disclose,
.sortable li.mjs-nestedSortable-collapsed > div.menu-row-highlight > .disclose,
.sortable li.mjs-nestedSortable-expanded > div.menu-row > .disclose,
.sortable li.mjs-nestedSortable-expanded > div.menu-row-highlight > .disclose {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.sortable li > div.menu-row-highlight > .reorder {
    display: inline-block;
    color: #59c3dd;
    width: 38px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #c2dbe3ff;
    cursor: pointer;
}
.sortable li > div.menu-row .reorder {
    display: inline-block;
    color: #7d898d;
    width: 38px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.sortable li.mjs-nestedSortable-collapsed > div.menu-row > .disclose span::before,
.sortable li.mjs-nestedSortable-collapsed > div.menu-row-highlight > .disclose span::before {
    font-family: "FontAwesome";
    content: "\f067";
    font-weight: 500;
}
.sortable li.mjs-nestedSortable-expanded > div.menu-row > .disclose span::before,
.sortable li.mjs-nestedSortable-expanded > div.menu-row-highlight > .disclose span::before {
    font-family: "FontAwesome";
    content: "\f068";
    font-weight: 500;
}
.sortable li div.menu-row > .menu-body,
.sortable li div.menu-row-highlight > .menu-body {
    display: inline;
    padding: 7px;
    width: 70%;
    overflow-wrap: break-word;
}
.sortable li div.menu-row > .menu-btn-body,
.sortable li div.menu-row-highlight > .menu-btn-body {
    display: inline;
    float: right;
    padding: 7px;
    line-height: 1.5;
}
.sortable li div:hover {
    background-color: #fffccc;
}
.sortable li div.disable {
    background-color: #ffe8e8 !important ;
}
.sortable li div.disable:hover {
    background-color: #ffdde2 !important ;
}

@media (max-width: 768px) {
    li .menu-row,
    li .menu-row-highlight,
    .sortable li div.menu-row > .menu-body,
    .sortable li div.menu-row-highlight > .menu-body,
    .sortable li div.menu-row > .menu-btn-body,
    .sortable li div.menu-row-highlight > .menu-btn-body {
        clear: both;
        display: inline-table;
        width: 100%;
        border-top: 1px solid #ddd;
    }
    .sortable li div.menu-row > .menu-body,
    .sortable li div.menu-row-highlight > .menu-body {
        display: block;
        margin: 0;
        padding: 0 10px;
        width: 100%;
    }
    .sortable li div.menu-row > .menu-btn-body,
    .sortable li div.menu-row-highlight > .menu-btn-body {
        padding: 0 10px;
        line-height: 37px;
    }
    .menu-btn-body > button {
        margin-top: -3px;
    }
    .center-button {
        margin-bottom: 5px;
    }
}
@media (max-width: 480px) {
    h3, .center-button {
        text-align: center !important ;
        margin-bottom: 5px;
    }
}
@media (max-width: 800px) {
    .center-button {
        margin-bottom: 5px;
    }
}
@media (min-width: 801px) {
    .center-button {
        margin-bottom: 5px;
    }
}
@media (min-width: 1024px) {
    .year.center-button {
        margin-bottom: 15px;
    }
    .table-heading {

        padding: 0 15px 5px 15px;
    }
}

/* //////////////////////////////////// */
/* CUSTOM GALLERYUPLOAD STYLES */
/* //////////////////////////////////// */

.galleryupload-buttonbar {
    display: block;
    margin-top: -25px;
    margin-bottom: -5px;
    padding: 20px 0;
}

/* //////////////////////////////////// */
/* CUSTOM ALBUM STYLES */
/* //////////////////////////////////// */

.album-fileinfo-wrapper {
    display: block;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.album-tools-wrapper {
    padding: 15px 0;
}

/* //////////////////////////////////// */
/* CUSTOM IMAGE STYLES */
/* //////////////////////////////////// */

.news-preview img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: 100% 0;
}