/* CUSTOM TABLE STYLES */

.vauu-table > thead > tr > th, .vauu-table > thead > tr > th > a {
    border-bottom: 0;
    color: #008c9e !important;
    font-size: 14px !important;
    font-weight: 400;
    background: #e9f7fb !important;
}
.vauu-table > thead > tr > th > a:hover {
    text-decoration: none !important;
    outline: none !important;
}
.vauu-table tbody > tr:first-child td  {
    border-top: 0;
}
.vauu-table tbody > tr:last-child td  {
    border-bottom: 1px solid #ddd;
}
.vauu-table tbody tr td  {
    border-bottom: 1px solid #ddd;
}
.vauu-table.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.clickable-rows tr td,
.clickable-rows tr th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    cursor: default;
}
.clickable-rows tr:hover {
    background-color: #f7f7f7;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    cursor: default;
    color: #333;
    background-color: #f3f3f3;
    border-color: #ccc;
}


.js-sports-area .locked, .js-competition-area .locked {background-color: #fff0f1;}
vauu-table .hidden {display: none;}